.igra {
  font-family: 'Igra Sans';
  color: #404040;
  font-size: 16px;
  line-height: 21px;

  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-20 {
    font-size: 20px;
    line-height: 30px;
  }

  &-26 {
    font-size: 26px;
  }

  &-32 {
    font-size: 32px;
  }

  &-44 {
    font-size: 44px;
    line-height: 45px;
  }

  &-grey {
    color: #999999;
  }

  &-orange {
    color: #F0AF3B;
  }

  &-white {
    color: #ffffff;
  }
}

.roboto {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;

  &-fw-medium{
    font-weight: 500;
  }

  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-20 {
    font-size: 20px;
  }

  &-26 {
    font-size: 26px;
  }

  &-32 {
    font-size: 32px;
  }

  &-44 {
    font-size: 44px;
  }

  &-grey {
    color: #999999;
  }

  &-orange {
    color: #F0AF3B;
  }

  &-white {
    color: #ffffff;
  }
}
 
.m {
  &-r-10 {
    margin-right: 10px;
  }

  &-r-15 {
    margin-right: 15px;
  }

  &-r-20 {
    margin-right: 20px;
  }

  &-r-25 {
    margin-right: 25px;
  }
  &-r-35 {
    margin-right: 35px;
  }

  &-r-30 {
    margin-right: 30px;
  }

  &-r-40 {
    margin-right: 40px;
  }

  &-r-50 {
    margin-right: 50px;
  }

  &-r-75 {
    margin-right: 75px;
  }


  &-l-10 {
    margin-left: 10px;
  }

  &-l-15 {
    margin-left: 15px;
  }

  &-l-20 {
    margin-left: 20px;
  }

  &-l-25 {
    margin-left: 25px;
  }

  &-b--10 {
    margin-bottom: -10px;
  }

  &-b-10 {
    margin-bottom: 10px;
  }

  &-b-5 {
    margin-bottom: 5px;
  }

  &-b-15 {
    margin-bottom: 15px;
  }

  &-b-20 {
    margin-bottom: 20px;
  }

  &-b-25 {
    margin-bottom: 25px;
  }

  &-b-30 {
    margin-bottom: 30px;
  }

  &-b-45 {
    margin-bottom: 45px;
  }

  &-b-50 {
    margin-bottom: 50px;
  }

  &-b-55 {
    margin-bottom: 55px;
  }

  &-b-80 {
    margin-bottom: 80px;
  }

  &-t-10 {
    margin-top: 10px;
  }

  &-t-20 {
    margin-top: 20px;
  }

  &-t-30 {
    margin-top: 30px;
  }

  &-t-40 {
    margin-top: 40px;
  }


}


